# Import Basic Libraries

In [49]:
import pandas as pd
import numpy as np

# Preprocess Train Data

Get train and test data and save it as data frame

In [3]:
train = pd.read_csv('https://raw.githubusercontent.com/pratzz/HackerEarthCarnivalWars/main/train.csv')

Investigate train data

In [4]:
train.head(3)

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6363 non-null   float64
 2   instock_date      6368 non-null   object
 3   Market_Category   6368 non-null   int64
 4   Customer_name     6157 non-null   object
 5   Loyalty_customer  6368 non-null   object
 6   Product_Category  6368 non-null   object
 7   Grade             6368 non-null   int64
 8   Demand            6368 non-null   int64
 9   Discount_avail    6330 non-null   float64
 10  charges_1         6170 non-null   float64
 11  charges_2 (%)     6163 non-null   float64
 12  Minimum_price     6330 non-null   float64
 13  Maximum_price     6025 non-null   float64
 14  Selling_Price     6327 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 746.4+ KB

Extract information from "instock_date" column

In [6]:
train['instock_date'] = pd.to_datetime(train['instock_date'])

In [7]:
train['year'] = train['instock_date'].dt.year
train['month'] =  train['instock_date'].dt.month
train['day'] =  train['instock_date'].dt.day
train['hour'] =  train['instock_date'].dt.hour

In [8]:
train.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,year,month,day,hour
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,2015,8,22,18
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,2016,3,27,21
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,2015,8,18,19
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,2016,3,28,21
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,2016,3,29,22

Check for unique data against each column

In [9]:
train.nunique()

Product_id          6368
Stall_no              50
instock_date        5350
Market_Category      248
Customer_name       5900
Loyalty_customer       2
Product_Category      10
Grade                  4
Demand               100
Discount_avail         2
charges_1            487
charges_2 (%)         17
Minimum_price       4236
Maximum_price       4618
Selling_Price       6321
year                   3
month                 11
day                   31
hour                  24
dtype: int64

Check for null values against each column

In [10]:
train.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
year                  0
month                 0
day                   0
hour                  0
dtype: int64

Remove records having no data for target variable - "Selling_Price"

In [11]:
train = train[train['Selling_Price'].notna()]

In [12]:
train.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       207
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       37
charges_1           198
charges_2 (%)       204
Minimum_price        38
Maximum_price       341
Selling_Price         0
year                  0
month                 0
day                   0
hour                  0
dtype: int64

Delete columns not necessary in making prediction

In [13]:
columns = ['Product_id', 'instock_date', 'Customer_name']
train = train.drop(columns = columns)

In [14]:
train.head(2)

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,year,month,day,hour
0,37.0,2,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,2015,8,22,18
1,38.0,24,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,2016,3,27,21

Convert categorical columns - 'Loyalty_customer' and 'Product_Category' into one hot vector columns and add it to train data

In [15]:

train = pd.get_dummies(train, columns=['Loyalty_customer', 'Product_Category'])

Impute columns having missing values with mean of their sample distribution

In [16]:
cols = ['Discount_avail', 'charges_1', 'charges_2 (%)', 'Minimum_price', 'Maximum_price' ]
for col in cols:
  train[col] = train[col].fillna(int(train[col].mean()))

Remove records having no data for target variable - "Stall_no"

In [17]:
train = train[train['Stall_no'].notna()]

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6322 entries, 0 to 6367
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Stall_no                      6322 non-null   float64
 1   Market_Category               6322 non-null   int64
 2   Grade                         6322 non-null   int64
 3   Demand                        6322 non-null   int64
 4   Discount_avail                6322 non-null   float64
 5   charges_1                     6322 non-null   float64
 6   charges_2 (%)                 6322 non-null   float64
 7   Minimum_price                 6322 non-null   float64
 8   Maximum_price                 6322 non-null   float64
 9   Selling_Price                 6322 non-null   float64
 10  year                          6322 non-null   int64
 11  month                         6322 non-null   int64
 12  day                           6322 non-null   int64
 13  hour                          6322 non-null   int64
 14  Loyalty_customer_No           6322 non-null   uint8
 15  Loyalty_customer_Yes          6322 non-null   uint8
 16  Product_Category_Child_care   6322 non-null   uint8
 17  Product_Category_Cosmetics    6322 non-null   uint8
 18  Product_Category_Educational  6322 non-null   uint8
 19  Product_Category_Fashion      6322 non-null   uint8
 20  Product_Category_Home_decor   6322 non-null   uint8
 21  Product_Category_Hospitality  6322 non-null   uint8
 22  Product_Category_Organic      6322 non-null   uint8
 23  Product_Category_Pet_care     6322 non-null   uint8
 24  Product_Category_Repair       6322 non-null   uint8
 25  Product_Category_Technology   6322 non-null   uint8
dtypes: float64(7), int64(7), uint8(12)
memory usage: 814.9 KB

Keep records for only "Selling_Price" greater than 0

In [19]:
train = train[train["Selling_Price"] > 0]

# Split data to train and validation data

Create x, y data from train data

In [20]:
x_train = train
x_train = x_train.drop(["Selling_Price"],axis =1)
y_train = train['Selling_Price']

Split x, y into train and validation set

In [ ]:
# Not required since GridSearchCV is being used

# from sklearn.model_selection import train_test_split

# x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = 0.3, random_state = 30)

# Train Models

Import necessary ML libraries for training data \
Create a dictionary to store model and score values

In [24]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_squared_error, mean_squared_log_error

dict_ = {
    'model': [],
    'rmsle_score_valid': [],
    'best_param': [],
    'best_estimator': []
}
models = {
    'LinearRegression': {
        'model': LinearRegression(),
        'param_grid': {
            # No param to test
        }
    },
    'RidgeRegression': {
        'model': Ridge(),
        'param_grid': {
            'alpha': np.linspace(0.1, 1, 5)
        }
    },
    'LassoRegression': {
        'model': Lasso(),
        'param_grid': {
            'alpha': np.linspace(0.1, 1, 5)
        }
    },
    'ElasticNet': {
        'model': ElasticNet(),
        'param_grid': {
            'alpha': np.linspace(0.1, 1, 5),
            'l1_ratio': np.linspace(0.1, 1, 5)
        }
    },
    'RandomForest': {
        'model': RandomForestRegressor(),
        'param_grid': {
            'n_estimators': [20, 50, 60, 70],
            # 'max_depth': np.linspace(1, 100, num=11, dtype="int"),
            'min_samples_leaf': np.linspace(10, 20, num=5, dtype="int")
        }
    },
    # 'GradientBoost': {
    #     'model': GradientBoostingRegressor(),
    #     'param_grid': {
    #         'n_estimators': [10, 20, 50, 60, 80],
    #         'learning_rate': [0.01, 0.1, 0.5, .75],
    #         # 'subsample': np.linspace(0, 1, 5)
    #     }
    # },
    # 'SVR': {
    #     'model': SVR(),
    #     'param_grid': {
    #         'kernel': ['linear', 'poly', 'rbf'],
    #         'degree': [1,2,3,],
    #         'C': [0.05, 0.1, 0.5, 0.7],
    #         'epsilon': [0.05, 0.1, 0.5, 0.7]
    #     }
    # }
    
}

In [25]:
from sklearn.metrics import make_scorer

def evaluation_metric(y_truth, y_pred):
  y_pred = abs(y_pred)
  # y_truth = abs(y_truth)
  return max(0, 100 - np.sqrt(mean_squared_log_error(y_truth, y_pred)))

scorer = make_scorer(evaluation_metric, greater_is_better=True)

Train models and store scores in the dictionary

In [26]:
for model_name, model_obj in models.items():
  dict_['model'].append(model_name)
  trained_model = GridSearchCV(model_obj['model'], param_grid=model_obj['param_grid'], scoring=scorer, cv=10).fit(x_train, y_train)
  dict_['rmsle_score_valid'].append(trained_model.best_score_)
  dict_['best_estimator'].append(trained_model.best_estimator_)
  dict_['best_param'].append(trained_model.best_params_)

  # dict_['rmsle_score_valid'].append(max(0, 100 - np.sqrt(mean_squared_log_error(y_val, abs(model_obj.fit(x_train, y_train).predict(x_val))))))
  # dict_['r2_score'].append(model_obj.fit(x_train, y_train).score(x_val, y_val))

Checkout the stats for the trained models

In [27]:
result = pd.DataFrame(dict_)
result

,model,rmsle_score_valid,best_param,best_estimator
0,LinearRegression,99.515112,{},LinearRegression()
1,RidgeRegression,99.517196,{'alpha': 1.0},Ridge()
2,LassoRegression,99.521556,{'alpha': 0.55},Lasso(alpha=0.55)
3,ElasticNet,99.556632,"{'alpha': 0.1, 'l1_ratio': 0.325}","ElasticNet(alpha=0.1, l1_ratio=0.325)"
4,RandomForest,99.890838,"{'min_samples_leaf': 10, 'n_estimators': 20}","(DecisionTreeRegressor(max_features='auto', mi..."

Sort the stats by descending order of "rmsle" score

In [28]:
result.sort_values(by=['rmsle_score_valid'], ascending=False)

,model,rmsle_score_valid,best_param,best_estimator
4,RandomForest,99.890838,"{'min_samples_leaf': 10, 'n_estimators': 20}","(DecisionTreeRegressor(max_features='auto', mi..."
3,ElasticNet,99.556632,"{'alpha': 0.1, 'l1_ratio': 0.325}","ElasticNet(alpha=0.1, l1_ratio=0.325)"
2,LassoRegression,99.521556,{'alpha': 0.55},Lasso(alpha=0.55)
1,RidgeRegression,99.517196,{'alpha': 1.0},Ridge()
0,LinearRegression,99.515112,{},LinearRegression()

Capture best found model

In [33]:
rf = result['best_estimator'].values[4]
rf

RandomForestRegressor(min_samples_leaf=10, n_estimators=20)

# Preprocess Test (unseen) data

Checkout test data

In [34]:
test = pd.read_csv('https://raw.githubusercontent.com/pratzz/HackerEarthCarnivalWars/main/test.csv')
test.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,No,Fashion,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,Yes,Fashion,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,No,Technology,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,Yes,Child_care,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,No,Technology,0,27,0,567.0,16.0,4069.0,6244

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        3430 non-null   object
 1   Stall_no          3429 non-null   float64
 2   instock_date      3430 non-null   object
 3   Market_Category   3430 non-null   int64
 4   Customer_name     3377 non-null   object
 5   Loyalty_customer  3430 non-null   object
 6   Product_Category  3430 non-null   object
 7   Grade             3430 non-null   int64
 8   Demand            3430 non-null   int64
 9   Discount_avail    3430 non-null   int64
 10  charges_1         3394 non-null   float64
 11  charges_2 (%)     3425 non-null   float64
 12  Minimum_price     3416 non-null   float64
 13  Maximum_price     3430 non-null   int64
dtypes: float64(4), int64(5), object(5)
memory usage: 375.3+ KB

Extract information from "instock_date" column

In [36]:
test['instock_date'] = pd.to_datetime(test['instock_date'])
test['year'] = test['instock_date'].dt.year
test['month'] =  test['instock_date'].dt.month
test['day'] =  test['instock_date'].dt.day
test['hour'] =  test['instock_date'].dt.hour

Check for unique data against each column

In [37]:
test.nunique()

Product_id          3430
Stall_no              50
instock_date        3096
Market_Category      224
Customer_name       3319
Loyalty_customer       2
Product_Category      10
Grade                  4
Demand               100
Discount_avail         2
charges_1            450
charges_2 (%)         17
Minimum_price       2685
Maximum_price       2901
year                   3
month                 11
day                   31
hour                  24
dtype: int64

Check for missing values against each column

In [38]:
test.isnull().sum()

Product_id           0
Stall_no             1
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
year                 0
month                0
day                  0
hour                 0
dtype: int64

Impute missing value of column of "Stall_no" by mode of its sample distribution

In [39]:
test['Stall_no'] = test['Stall_no'].fillna(test['Stall_no'].mode()[0])

In [40]:
test.isnull().sum()

Product_id           0
Stall_no             0
instock_date         0
Market_Category      0
Customer_name       53
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
year                 0
month                0
day                  0
hour                 0
dtype: int64

Delete columns not necessary in making prediction

In [41]:
pid = pd.DataFrame(test['Product_id']) #store pid in dataframe

columns = ['Product_id', 'instock_date', 'Customer_name']
test = test.drop(columns = columns)

In [42]:
test.isnull().sum()

Stall_no             0
Market_Category      0
Loyalty_customer     0
Product_Category     0
Grade                0
Demand               0
Discount_avail       0
charges_1           36
charges_2 (%)        5
Minimum_price       14
Maximum_price        0
year                 0
month                0
day                  0
hour                 0
dtype: int64

Convert categorical columns - 'Loyalty_customer' and 'Product_Category' into one hot vector columns and add it to test data

In [43]:
test = pd.get_dummies(test, columns=['Loyalty_customer', 'Product_Category'])

In [44]:
test.isnull().sum()

Stall_no                         0
Market_Category                  0
Grade                            0
Demand                           0
Discount_avail                   0
charges_1                       36
charges_2 (%)                    5
Minimum_price                   14
Maximum_price                    0
year                             0
month                            0
day                              0
hour                             0
Loyalty_customer_No              0
Loyalty_customer_Yes             0
Product_Category_Child_care      0
Product_Category_Cosmetics       0
Product_Category_Educational     0
Product_Category_Fashion         0
Product_Category_Home_decor      0
Product_Category_Hospitality     0
Product_Category_Organic         0
Product_Category_Pet_care        0
Product_Category_Repair          0
Product_Category_Technology      0
dtype: int64

Impute columns having missing values with mean of their sample distribution

In [45]:
cols = ['charges_1', 'charges_2 (%)', 'Minimum_price']
for col in cols:
  test[col] = test[col].fillna(int(test[col].mean()))

In [46]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Stall_no                      3430 non-null   float64
 1   Market_Category               3430 non-null   int64
 2   Grade                         3430 non-null   int64
 3   Demand                        3430 non-null   int64
 4   Discount_avail                3430 non-null   int64
 5   charges_1                     3430 non-null   float64
 6   charges_2 (%)                 3430 non-null   float64
 7   Minimum_price                 3430 non-null   float64
 8   Maximum_price                 3430 non-null   int64
 9   year                          3430 non-null   int64
 10  month                         3430 non-null   int64
 11  day                           3430 non-null   int64
 12  hour                          3430 non-null   int64
 13  Loyalty_customer_No           3430 non-null   uint8
 14  Loyalty_customer_Yes          3430 non-null   uint8
 15  Product_Category_Child_care   3430 non-null   uint8
 16  Product_Category_Cosmetics    3430 non-null   uint8
 17  Product_Category_Educational  3430 non-null   uint8
 18  Product_Category_Fashion      3430 non-null   uint8
 19  Product_Category_Home_decor   3430 non-null   uint8
 20  Product_Category_Hospitality  3430 non-null   uint8
 21  Product_Category_Organic      3430 non-null   uint8
 22  Product_Category_Pet_care     3430 non-null   uint8
 23  Product_Category_Repair       3430 non-null   uint8
 24  Product_Category_Technology   3430 non-null   uint8
dtypes: float64(4), int64(9), uint8(12)
memory usage: 388.7 KB

# Make Prediction using best found model

Use the best trained model to predict test data

In [47]:
y_test_pred = pd.DataFrame(rf.predict(test), columns=['Selling_Price'])

Checkout y_test_pred

In [48]:
y_test_pred.head()

   Selling_Price
0    3245.770610
1    1928.592058
2   11735.195806
3    9590.432828
4    5562.331124

Check existence of negative values in prediction output

In [54]:
y_test_pred[y_test_pred['Selling_Price'] > 0].count()

Selling_Price    3430
dtype: int64

In [ ]:
# y_test_pred = np.where(y_test_pred['Selling_Price'] < 0, 0, y_test_pred['Selling_Price'])

Concatenate "Product_id" and "Selling_Price" columns into one dataframe \
Output prediction to csv file

In [55]:
df = pd.concat([pid, y_test_pred], axis=1)
df.to_csv('Result.csv', index=False)

Check prediction output

In [56]:
df

            Product_id  Selling_Price
0     SCHE4YSTDVPVZVXW    3245.770610
1     ACCEGCATKHNRXUHW    1928.592058
2     NKCE6GJ5XVJDXNNZ   11735.195806
3     NKCEB8BK3ZXDHDHM    9590.432828
4     TOPEFDXSAHRNPF94    5562.331124
...                ...            ...
3425  BBAE9K7BXFUTDNBK    3985.399995
3426  RTRDYPA4PJHCJCGF    9191.434003
3427  TUNE8FWQBS7TVVT7    6833.503419
3428  NKCEGMUABCRGUZPE    3554.544152
3429  RNGE7M92KAQWUBCS    1043.373604

[3430 rows x 2 columns]